.friends-list {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  gap: 25px;
}
.item {
  position: relative;
  background-color: white;
}
.status {
  position: absolute;
  left: 45px;
  bottom: 50px;

  color: transparent;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.avatar {
  padding-bottom: 20px;
}
.name {
  padding-bottom: 20px;
}
