.transaction-history {
  font-family: monospace;
  color: #160a0a;
}

thead {
  height: 25px;
  background-color: cadetblue;
}
tr {
  background-color: #836a6a;

  cursor: pointer;

  transition: scale 500ms ease;
}

tr:hover {
  scale: 1.1;
}

tr:nth-child(even) {
  background-color: gray;
}

th,
td {
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
}
